@font-face {
  font-family: 'Annabelle';
  src: url('../fonts/Annabelle.woff2') format('woff2'),
    url('../fonts/Annabelle.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}