body {
  font-family: "OpenSans", sans-serif;
  font-weight: 400;
  font-size: 21px;
  color: $color;
}

a,
input,
button,
textarea {
  &:focus {
    outline-style: solid;
    outline-color: $color;
  }
}

.lock-scroll {
  overflow: hidden;
}

.container {
  max-width: 1285px;
  margin: 0 auto;
  padding: 0 15px;
}

.logo {
  z-index: 1;
}

.title {
  margin-bottom: 60px;
  font-weight: 700;
  font-size: 75px;
}

.button {
  padding: 20px 30px;
  border: none;
  background-color: #e6c8c3;
  font-weight: 700;
  text-transform: uppercase;
  color: inherit;
}

.text {
  max-width: 540px;
  margin-bottom: 90px;
  line-height: 1.6;
}

.social {
  display: flex;
  align-items: center;
  list-style: none;

  &__item {
    &:not(:last-child) {
      margin-right: 45px;
    }
  }
}

.form {
  &__input {
    display: block;
    max-width: 940px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 35px;
    padding: 25px 40px;
    border: 2px solid #b0b0b0;
    background-color: #efefef;
    color: inherit;
  }

  &__textarea {
    height: 150px;
    margin-bottom: 55px;
    resize: none;
  }

  &__button {
    display: block;
    margin: 0 auto;
  }
}