body {
  font-family: "OpenSans", sans-serif;
  font-weight: 400;
  font-size: 21px;
  color: $color;
}

.container {
  max-width: 1285px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  margin-bottom: 60px;
  font-weight: 700;
  font-size: 75px;
}

.button {
  padding: 20px 30px;
  border: none;
  background-color: #e6c8c3;
  font-weight: 700;
  text-transform: uppercase;
  color: inherit;
}

.text {
  max-width: 540px;
  margin-bottom: 90px;
  line-height: 1.6;
}