.message {
  padding-top: 80px;
  padding-bottom: 65px;
  background-image: url("../images/message-bg.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  @media (max-width: 992px) {
    padding: 50px 0;
  }

  &__title {
    text-align: center;

    @media (max-width: 992px) {
      margin-bottom: 30px;
    }

    @media (max-width: 576px) {
      font-size: 42px;
    }
  }

  &__text {
    max-width: 879px;
    margin: 0 auto;
    margin-bottom: 70px;
    text-align: center;

    @media (max-width: 576px) {
      margin-bottom: 30px;
      font-size: 18px;
    }
  }
}