.programs {
  padding-top: 110px;
  padding-bottom: 100px;

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

  &__item {
    text-align: center;
  }

  &__img {
    width: 244px;
    height: 206px;
  }
}